.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 1.25rem;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  transition: var(--transition-duration);
  overflow: hidden;
  outline: none;
}

.button:disabled {
  opacity: 0.4;
}

.button.stretch {
  width: 100%;
}

.button.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.button.primary::after {
  background-color: blue;
}

.button.danger::after {
  background-color: var(--color-danger);
}

.button.secondary::after {
  background-color: #6c757d;
}

.button.success::after {
  background-color: #28a745;
}

.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  transition: var(--transition-duration);
}

.button.primary::before {
  background-color: darkblue;
}

.button.danger::before {
  background-color: var(--color-danger-hover);
}

.button.secondary::before {
  background-color: #5a6268;
}

.button.success::before {
  background-color: #218838;
}

.button:not(:disabled):hover::before,
.button:not(:disabled):focus::before {
  width: 100%;
}
