.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .header-inner {
    padding: 0 3rem;
  }
}
