.nav-item {
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 2px solid transparent;
  font-size: 2.8rem;
  color: #aaa;
  transition: var(--transition-duration);
}

.nav-item:hover {
  color: white;
}

.nav-item.active {
  color: white;
  border-bottom-color: white;
}

@media (min-width: 768px) {
  .nav-item {
    padding: 0.5rem 0;
    margin-bottom: 0;
    font-size: 1.8rem;
  }

  .nav-item:not(:last-child) {
    margin-right: 2rem;
  }
}
